{% extends 'base.html.twig' %}

{% block body %}
    <div class="l-container">
        <div class="l-wrapper">
            <div class="l-wrapper--user">
                <div class="l-wrapper--content status">
                    <a href="{{ companyData.siteURL }}" class="logo-mobile">
                        {# Add your logo here #}
                        <img src="{{ asset(companyData.logoURL) }}" alt="logo">
                    </a>
                    <div class="l-content">
                        <h1 class="form-title">{{ title }}</h1>
                        <p class="form-text">{{ message }}</p>
                    </div>
                </div>
                <div class="l-wrapper--side">
                    <a href="{{ companyData.siteURL }}" class="logo">
                        {# Add your logo here #}
                        <img src="{{ asset(companyData.logoURL) }}" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}