{% extends 'base.html.twig' %}

{% block content %}
    <div class="l-container">
        <div class="l-wrapper">
            <div class="l-wrapper--user">
                <div class="l-wrapper--content">
                    <a href="{{ companyData.siteURL }}" class="logo-mobile">
                        <img src="{{ asset(companyData.logoURL) }}" alt="logo">
                    </a>
                    <div class="l-content form">
                        {% if form %}
                            <h1 class="form-title">{{ 'icapps.website.lbl_user.reset.form_title'|trans }}</h1>
                            <p class="form-text">{{ 'icapps.website.lbl_user.reset.form_subtitle'|trans }}</p>

                            {{ form_start(form) }}
                            <div class="c-input__wrapper validate-input pass_show">
                                {{ form_widget(form.password) }}
                                <span class="toggle-password-icon"></span>
                                <p class="password-info-text">{{ 'icapps.website.lbl_user.reset.form_password_info'|trans }}</p>
                                <p class="password-strength-text"></p>
                            </div>

                            <div class="form-submit c-button">
                                {{ form_widget(form.submit) }}
                            </div>
                            {{ form_end(form) }}
                        {% endif %}
                    </div>
                </div>
                <div class="l-wrapper--side">
                    <a href="{{ companyData.siteURL }}" class="logo">
                        <img src="{{ asset(companyData.logoURL) }}" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}