{% extends 'base-no-sulu.html.twig' %}

{% block content %}
    <section class="hero is-primary is-fullheight">
        <div class="hero-head"></div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-one-third has-text-centered">
                        <figure class="image is-128x128 is-inline-block">
                            <a href="{{ companyData.siteURL }}" class="logo-mobile">
                                <img src="{{ asset(companyData.logoURL) }}" alt="logo">
                            </a>
                        </figure>
                    </div>

                    <div class="column is-one-third">
                        <div class="content">
                            <h1 class="title">{{ 'icapps.website.lbl_user.reset.form_title'|trans }}</h1>
                            {{ form_start(form) }}
                            <p>
                                {{ 'icapps.website.lbl_user.reset.form_subtitle'|trans }}
                            </p>
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    {{ form_widget(form.password) }}
                                </div>
                                <div class="control">
                                    <a class="button" id="toggle-password-icon">
                                        <span class="icon has-text-grey-light">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <p>
                                <span id="password-strength-text" class="tag is-hidden is-light"></span>
                                <span id="password-info-text">{{ 'icapps.website.lbl_user.reset.form_password_info'|trans }}</span>
                            </p>

                            <div class="field">
                                <div class="control">
                                    {{ form_widget(form.submit) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-foot"></div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/website/password.js') }}"></script>
{% endblock %}