{% block footer %}
<footer class="footer_area" id="contact" style="margin-top: 200px;">
    <div class="subscrib_area">
        <div class="container">
            <div class="subscrib_inner">
                <div class="main_title">
                    <h2>Let's stay connected</h2>
                    <p>Together we create your brand’s digital identity and help you reach your digital goals</p>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="&#xf003; Email address">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">SEND</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_widget_area">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-6">
                    <aside class="f_widget home_widget">
                        <div class="f_title">
                            <h3>General</h3>
                        </div>
                        <ul>
                            <li>
                                <a href="/" title="Home">Home</a>
                            </li>
                            {% for item in sulu_navigation_root_tree('footer_general') %}
                                <li>
                                    <a href="{{ sulu_content_path(item.url) }}"
                                       title="{{ item.title }}">{{ item.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
                <div class="col-md-2 col-xs-6">
                    <aside class="f_widget home_widget">
                        <div class="f_title">
                            <h3>Support</h3>
                        </div>
                        <ul>
                            {% for item in sulu_navigation_root_tree('footer_support') %}
                                <li>
                                    <a href="{{ sulu_content_path(item.url) }}"
                                       title="{{ item.title }}">{{ item.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copy_right">
        <div class="container">
            <div class="pull-left">
                <p class="copyright">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> | <a href="https://themeslab.org/" target="_blank">Themeslab</a>
                </p>
            </div>
            <div class="pull-right">
                <ul>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}